<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Kaverts</title>
        <meta name="viewport" content="width=device-width">
        <meta charset="utf-8">
        <link href="home.css" rel="stylesheet">
        <link rel="icon" href="images/Logo.png">
    </head>

    <body>
        <header>
            <a href = "/"> <button id="home-button" > Home </button></a>
            <a href="/signout"> <button id="sign-out" > Sign Out </button></a>
            <a href="/profile"><button id="profile-button" > Profile </button></a>
        </header>
        <div class="post-container">
            
            <form id="question-form" method = "POST">
                <div class="title-question">
                    <h2>Post A Question</h2>
                </div>
                <input name="description" type="text" id="description" placeholder="Question">
                <input name="subject" type="text" id="description" placeholder="Subject">
                <input name="grade" type="text" id="description" placeholder="Grade">
                <input class="submit" type="submit" value="Post">
                
                <label> &emsp; <%-prompt%> </label>
            </form>
        </div>
        <footer>
            <p class="copyright">Copyright 2023 Kaverts &copy;</p>
        </footer>
    </body>
    
</html>