<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/Logo.png">
    <link href="sign-up.css" rel="stylesheet">
    <title>Kaverts - Sign Up</title>
</head>
<body>
    <header>
        <a href="/login">
            <button id="sign-out" > Log In </button>
         </a>
    </header>
    <div class="sign-up-container">
        
        <form class="sign-up-form" action="/signup" method="POST">
            <div class="back">X</div>
            <div class="img-container">
                <img src="images/Company.png" alt="Company Logo">
            </div>
            <div class="sign-up-title">
                <h2 class="header">Join Us Now</h2>
            </div>
            
            <input name="name" type="text" id="full-name" placeholder="Full Name" autocomplete="off" value=<%-prevName%>>
            <input name="username" type="text" id="username" placeholder="Email" autocomplete="off" value=<%-prevEmail%>>
            <input name="password" type="password" id="password" placeholder="Password">
            <input name="confirm-password" type="password" id="confirm-password" placeholder="Confirm Password">
            <input type="checkbox" id="terms" name="terms" class="checkbox" required>
            <label for="terms" class="checkbox-label">I agree to the Terms and Conditions</label>
            <input class="submit" type="submit" value="Join">
            <label> &emsp; <%-prompt%> </label>
        </form>
    </div>
    <script src="sign-up.js"></script>
</body>
</html>