<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Kaverts</title>
        <meta name="viewport" content="width=device-width">
        <meta charset="utf-8">
        <link href="tutor-home.css" rel="stylesheet">
        <link rel="icon" href="images/Logo.png">
    </head>

    <body>
        <header>
            <a href = "/"> <button id="home-button" > Home </button></a>
            <a href="/signout"> <button id="sign-out" > Sign Out </button></a>
            <a href="/profile"><button id="profile-button" > Profile </button></a>
        </header>
        <div class="post-container">
            <form action="/" method="POST">
                <input class="submit" type="submit" value="LOOK FOR STUDENTS">
            </form>
        </div>
        <footer>
            <p class="copyright">Copyright 2023 Kaverts &copy;</p>
        </footer>
    </body>
    
</html>