<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Kaverts</title>
        <meta name="viewport" content="width=device-width">
        <meta charset="utf-8">
        <link href="waitEmailConfirm.css" rel="stylesheet">
        <link rel="icon" href="images/Logo.png">
    </head>

    <body>
        <header>
            <a href="/signout">
                <button id="sign-out" > Sign out </button>
             </a>
        </header>
        <div class="login-container">
            <form class="login-form" action = "/resend" method = "POST">
                <div class="img-container">
                    <img src="images/Company.png" alt="Company Logo">
                </div>
                <p> An email has been send to <%-prevEmail%>. Please check your inbox to find the verification link.</p>
                <input name="email" type="hidden" value=<%-prevEmail %> >
                <input class="submit" type="submit" value="Resend Link">
            </form>
        </div>

        <footer>
            <p class="copyright">Copyright 2023 Kaverts &copy;</p>
        </footer>
    </body>

</html>