body {
    margin: 0;
    background-color: #cef2fd65;
}

#sign-out {
    font-family: 'Oswald', sans-serif;
    background: black;
    color: white ;
    position: absolute;
    top: 5px;
    left: 10px;
    height: 30px;
    letter-spacing: 3px;
    cursor: pointer;
}

#home-button {
    font-family: 'Oswald', sans-serif;
    background: black;
    color: white ;
    position: absolute;
    top: 5px;
    left: 110px;
    height: 30px;
    letter-spacing: 3px;
    cursor: pointer;
}

#profile-button {
    font-family: 'Oswald', sans-serif;
    background: black;
    color: white ;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 10px;
    letter-spacing: 3px;
    cursor: pointer;
    margin: 0;
}

#post-container{
    height: 2000px;
    width: 650px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

#refresh{
    font-family: monospace;
    background-color: blue;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: large;
    color:white;
    text-decoration: none;
}

#table-bg{
    overflow-y:auto;
    background-color: white;
    width: 650px;
    height: 1500px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

#questions-table{
    font-family: monospace;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

#questions-table th, td{
    border-collapse: collapse;
    padding: 12px;
    border-bottom: 1px solid grey;
    cursor: pointer;
}

#questions-table thead {
    position: sticky;
    text-align: left;
    background-color: black;
    color: white;
    margin-top: 0;
}

#questions-table tbody {
    height:1600px;
}

.question-col{
    width: 400px;
}

.subject-col{
    width: 100px;
}

#questions-table tr:nth-of-type(even){
    background-color: #e9e5e5;
}

.copyright{
    font-size: 12px;
    font-family: Arial;
    text-align: center;
    font-weight: bold;
    padding: 1px;
}