body {
    margin: 0;
    background-color: #cef2fd65;
}

#sign-out {
    font-family: 'Oswald', sans-serif;
    background: black;
    color: white ;
    position: absolute;
    top: 5px;
    left: 10px;
    height: 30px;
    letter-spacing: 3px;
    cursor: pointer;
}

#home-button {
    font-family: 'Oswald', sans-serif;
    background: black;
    color: white ;
    position: absolute;
    top: 5px;
    left: 110px;
    height: 30px;
    letter-spacing: 3px;
    cursor: pointer;
}

#profile-button {
    font-family: 'Oswald', sans-serif;
    background: black;
    color: white ;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 10px;
    letter-spacing: 3px;
    cursor: pointer;
    margin: 0;
}

#post-container{
    font-family: monospace;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

#refresh{
    background-color: blue;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: large;
    color:white;
    text-decoration: none;
    margin: 40px auto;
}

#questions-table{
    font-family: monospace;
    background-color: white;
    border-collapse: collapse;
    width: 600px;
	border-collapse: collapse;
	table-layout: fixed;
}


#questions-table thead {
    box-sizing: border-box;
    padding: 10px;
    text-align: left;
    background-color: black;
    color: white;
	display: block;
	width: 100%;
	overflow-y: scroll;
	-ms-overflow-style: none;
}

#questions-table td{
    padding: 10px;
    border-collapse: collapse;
    border-bottom: 1px solid grey;
}

#questions-table tr:nth-of-type(even){
    background-color: #e9e5e5;
}

.question-col{
    width: 400px;
    cursor: pointer;
}

.subject-col{
    width: 100px;
}

#questions-table th,
#questions-table td
{
	display: block;
	width: 100%;
}

#questions-table thead::-webkit-scrollbar
{
	visibility: hidden;
}

#questions-table tbody
{
	overflow-y: scroll;
	max-height: 1200px;
	position: relative;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	display: block;
	width: 100%;
}

#questions-table tr
{
	display: flex;
}


.copyright{
    font-size: 12px;
    font-family: Arial;
    text-align: center;
    font-weight: bold;
    padding: 1px;
}