body {
    margin: 0;
    background-color: #cef2fd65;
}

#sign-out {
    font-family: 'Oswald', sans-serif;
    background: black;
    color: white ;
    position: absolute;
    top: 5px;
    left: 10px;
    height: 30px;
    letter-spacing: 3px;
    cursor: pointer;
}

#home-button {
    font-family: 'Oswald', sans-serif;
    background: black;
    color: white ;
    position: absolute;
    top: 5px;
    left: 110px;
    height: 30px;
    letter-spacing: 3px;
    cursor: pointer;
}

.post-container{
    background: #cef2fd65;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This centers the form vertically on the page. */
    margin: 0;
    min-width: 800px;
}

#profile-button {
    font-family: 'Oswald', sans-serif;
    background: black;
    color: white ;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 10px;
    letter-spacing: 3px;
    cursor: pointer;
    margin: 0;
}

.copyright{
    font-size: 12px;
    font-family: Arial;
    text-align: center;
    font-weight: bold;
    padding: 1px;
}