#sign-out {
    font-family: 'Oswald', sans-serif;
    background: black;
    color: white ;
    height: 30px;
    letter-spacing: 3px;
    cursor: pointer;
}
.login-container{
    background: #cef2fd65;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This centers the form vertically on the page. */
    margin: 0;
}
#login-form {
    background: #cef2fd;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
}
input[type="text"],
input[type="password"]{
    display: block;
    margin: 12px auto;
    padding: 7px 20px;
    border-radius: 20px;
    font-size: 18px;
    border: none;
    outline: none;
    font-family: 'Calibri';
}
.submit {
    margin: 0 auto; /* Center the submit button horizontally within the form. */
    width: 160px;
    height: 30px;
    display: block;
    border: none;
    outline: none;
    background: #2e11d3;
    color:#fff ;
    font-size: 20px;
    border-radius: 40px;
    cursor: pointer;
    font-family: 'Calibri';
}
.submit:hover{
    transform: scale(1.03);
    background-color: #472fcc;
    color:#d3d3d3;
    font-weight: bold;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: 1px dashed #3498db; /* Change the color and style of the outline on focus */
    transform: scale(1.03);
}

.copyright{
    font-size: 12px;
    font-family: Arial;
    text-align: center;
    font-weight: bold;
    padding: 1px;
}